<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello admin!</h1>
<div>
    <h1>New Doctor</h1>
    <form method="post" action="/registrationDoctor">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="username" placeholder="doctor's name">
        <input type="password" name="password" placeholder="doctor's password">
        <button type="submit">create new doctor</button>
    </form>

</div>

<div>
    <h1>New Pharmacist</h1>
    <form method="post" action="/registrationPharmacist">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="username" placeholder="doctor's name">
        <input type="password" name="password" placeholder="doctor's password">
        <button type="submit">create new doctor</button>
    </form>

</div>
</body>
</html>