<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>registration admin</title>

</head>
<body>
<div>
    <div>

    </div>
    <form action="/openRegistrationAdminPage" method="post">
        <input hidden name="_csrf" value="_csrf.token"/>
        <input type="text" name="name" placeholder="User name"/>
        <input type="password" name="password" placeholder="User password"/>

        <button type="submit">Add new Admin</button>
    </form>
</div>
</body>
</html>