<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>registration admin</title>

</head>
<body>
<div>
    <div>

    </div>
    <form action="/registrationAdmin" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
       <div><input type="text" name="username" placeholder="User name"/></div>
        <div><input type="password" name="password" placeholder="User password"/></div>
        <button type="submit">Add new Admin</button>
    </form>
</div>
</body>
</html>